body {
  background-color: rgba(190, 217, 249, 1);
  font-size: 12px;
  font-family: helvetica, sans-serif;
}

button {
  background-color: teal;
  color: rgba(255, 255, 255, 1);
  border-color: teal;
  margin: 3px;
}

div {
  display: block;
  text-align: center;
}

p {
}

progress {
  padding: 3px;
  background-color: white;
  height: 12px;
}

#start {
  display: contents;
}

#gameplay {
  display: none;
}

#stats {
  background-color: teal;
  margin: 15%;
  padding: 5%;
}
